*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lancelot', cursive;
}

img{
    max-width: 100%;
}
/* ESTILOS LOGIN */
.body-login{
    background: url(../assets/mario.jpg);
    background-size: cover;
}

.contenedor-login{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 10% 34%;
    height: 370px;
    width: 500px;
    border: black 4px solid;
    border-radius: 10px;
    min-width: 200px;
    max-width: 600px;
}

.form-login{
    text-align: center;
    color: white;
    height: 97%;
}

h2{
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}

label{
    font-size: 18px;
}

input, textarea{
    margin: 20px 0 0 0;
    width: 50%;
    height: 6%;
    border: none;
    border-radius: 5px;
    opacity: 80%;
    font-size: 18px;
    color: #000;
}

button{
    font-size: 17px;
    padding: 10px 27px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: rgb(66, 155, 66);
}

button:hover{
    background-color: rgb(11, 247, 50);
    transition: .7s;
    color: white;
}

.registro{
    position: relative;
    bottom: 4rem;
    margin: 0 30%;
    color: white;
}

p .enlaceRegistro{
    padding: 5px;
}

.enlaceRegistro{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 6px;
}

.enlaceRegistro:hover{
    background-color: #121212;
    transition: .7s;
}

/* CSS REGISTRO */
.body-registro{
    background-image: url(../assets/luigi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-registro{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 5% 45%;
    height: 590px;
    width: 500px;
    border: black 4px solid;
    border-radius: 10px;
    min-width: 200px;
    max-width: 600px;
}

.form-registro{
    text-align: center;
    color: white;
    height: 97%;
}

.registrarse{
    margin-top: 1rem;
}

.registro-registro{
    position: relative;
    bottom: 3rem;
    left: 1rem;
}

.registrate{
    color: #fff;
    font-size: 1.1rem;
}

.login-registro{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #000;
    border-radius: 6px;
    padding: .2rem .7rem;
}

.login-registro:hover{
    background-color: #121212;
    transition: .7s;
}

/*CSS Home*/
.navegacion{
    background-color: rgb(53, 134, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    opacity: 80%;
}

.logo{
    color: #fff;
    font-size: 1.4rem;
    font-weight: bolder;
    border: 3px solid #fff;
    border-radius: 1rem;
    padding: 5px;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 14px;
}

.nav a:last-child{
    margin-right: 0px;
}

.nav a:hover{
    color: #000;
    transition: .5s;
}

.section-header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.noticias{
    background-image: url(../assets/luigi-individual.jpg);
    background-size: cover;
    background-position: center;
    height: 42.9rem;
}

.juegos{
    background-image: url(../assets/yoshi.jpg);
    background-size: cover;
    background-position: center;
    height: 42.9rem;
}

.personajes{
    background-image: url(../assets/mario-individual.jpg);
    background-size: cover;
    background-position: center;
    height: 42.9rem;
}

.texto-header{
    display: inline-block;
    position: relative;
    top: 21rem;
    left: 10rem;
    color: #fff;
    background-color: rgba(170, 6, 6, 0.496);
    border-radius: 1rem;
    padding: 7px 1rem;
    font-size: 2rem;
}


.texto-header:hover{
    border: 3px solid #70e000;
}

/*SECCION DE CONTACTO*/
.back-contacto{
    background-image: url(../assets/mario-grande.jpg);
    height: 42.9rem;
    background-size: cover;
}

.boxContacto{
    width: 50%;
    margin: auto auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.281);
    color: #fff;
    border: black 4px solid;
    border-radius: 10px;
    position: relative;
    top: 3rem;
    left: 19rem;
}